@media print { 
    .image-container img {
        display: none !important;
    }

    .nameResponses {
        height: auto;
        max-height: none;
    }
    
    .nameResponses {
        display: flex;
        flex-wrap: wrap;
    }
  
    .nameResponses li {
        flex: 1 1 auto;
        border: 1px solid #ddd;
        padding: 2px 5px;
    }
}