/* -------------- *
 * General
 * -------------- */
* {
      margin: 0;
      padding: 0;
      overscroll-behavior: none;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; 
}

.pointer {
      cursor: pointer;
}

.content {
      margin-top: 7svh;
      margin-bottom: 7svh;
}

.hidden {
      display: none !important;
}

#bottom-scroll {
      position: fixed;
      bottom: 8svh;
      right: 20px;
      background-color: rgba(105, 20, 35, 0.9);
      color: white;
      border: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      font-size: 24px;
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
}
  
#bottom-scroll:hover {
      background-color: #ffddc1;
      color: black;
}

.sticky-row {
      position: sticky;
      top: 7svh;
      z-index: 998;
      background-color: white;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
}

.sticky-row h3 {
      margin: 0;
}


/* -------------- *
 * Buttons
 * -------------- */
 .button-container {
      display: flex;
      justify-content: space-between;
}

.actionButton:hover {
      background-color: #ffddc1;
      text-decoration: none;
      color: black; 
}

.actionButton {
      width: 33.33333%;
      height: 100%;
      background-color: white;
      border: none;
      color: black;
      cursor: pointer;
      text-decoration: none;
      padding: 0 10px;
      text-align: center;
      align-items: center;
}

.addButton:hover {
      background-color: #ffddc1;
      cursor: pointer;
}


/* -------------- *
 * Header & Footer
 * -------------- */
.header, .footer {
      height: 7svh;
      background-color: rgb(105, 20, 35, 0.9);
      color: white;
      width: 100%;
      position: fixed;
      z-index: 999;
      text-align: center;
      left: 0px;
      margin-left: 0px !important;
      white-space: nowrap;
      align-items: center;
      font-size: 30px;
      justify-content: space-between;
}

.header {
      top: 0px;
}

#project-title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}

.dropdown {
      overflow: visible;
      width: 33%;
      z-index: 1000;
}

.dropdown:hover {
      color: #ffddc1;
      cursor: pointer;
}

.dropdown-item {
      width: 100%;
      font-size: 20px;
}

.dropdown-item:hover {
      cursor: pointer;
      background-color: #ffddc1 !important;
}

.footer {
      bottom: 0px;
}

.footer .col {
      height: 80%;
}

#datePicker {
      position: fixed;
      top: 4svh;
      left: 1svh;
      width: 100%;
}

#searchContainer {
      display: flex;
      position: fixed;
      top: 8svh;
      width: 300px;
      z-index: 9999;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#searchButton {
      height: 40px; 
}

.dateTitle {
      top: 7svh;
      padding: 10px 0;
}


/* -------------- *
 * Main View
 * -------------- */
.selectedBreakfast, .selectedLunch {
      border: 3px solid #007bff !important;
}

#nameListContainer {
      height: 65svh;
      width: 100%;
}

#searchBar {
      font-size: 30px;
      margin: 0;
      width: 100%;
      text-align: center;
      border: 2px solid #333; 
}

#nameList {
      height: 100%;
      list-style-type: none;
      border: 2px solid #333;
      overflow-y: auto;
      background-color: #f9f9f9;
      text-align: center;
}
  
#nameList li {
      padding: 15px;
      font-size: 20px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      justify-content: center;
      transition: background-color 0.3s ease;
      display: flex; 
      justify-content: space-between;
      align-items: center;
} 
  
#nameList li:hover {
      background-color: #e0e0e0;
}
  
#nameList li.selected {
      background-color: #007bff;
      color: white;
}

.name {
      flex-grow: 1;
      padding-left: 10px;
}

.menu-type {
      border: 1px solid #333;
      border-radius: 3px;
      padding: 0 5px;
}

#nameList li.selected .menu-type {
      border-color: white;
}


/* -------------- *
 * Menu Items
 * -------------- */
 .panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      box-sizing: border-box; 
      border: 3px solid transparent;
}
  
.panel-img {
      height: 20svh;
      -webkit-user-drag: none;
      border: 1px solid #333;
      resize: none;
}

.img-padding {
      padding: 5px;
}

.image-container {
      position: relative;
      width: 100%;
}
  
.amount-overlay {
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 1px 10px;
      font-size: 20px;
      color: black;
      font-weight: bold;
      border: 1px solid #333;
}

.panel-title {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px;
      align-items: center;
      text-align: center;
      font-weight: bold;
      width: 100%;
      border: 1px solid #333;
}


/* -------------- *
 * Orders View
 * -------------- */
 #breakfastSection, #lunchSection {
      scroll-margin-top: 7svh;
}

.nameResponses {
      list-style-type: none;
      border: 1px solid #333;
      width: 100%;
      height: 50svh;
      background-color: #f9f9f9;
      text-align: center;
      overflow-y: auto;
}

.nameResponses li {
      padding: 5px 15px;
      font-size: 20px;
      border-bottom: 1px solid #ddd;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}

.strikethrough {
      text-decoration: line-through;
      text-decoration-color: red;
}


/* -------------- *
 * Table Elements
 * -------------- */
#edit-button.active-edit {
      color: #ffddc1;
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      cursor: default;
}  

#undo-button, #redo-button {
      width: 50%;
}

.disabled {
      opacity: 0.5;
      pointer-events: none;
}

.desaturate {
      filter: grayscale(100%);
      opacity: 0.5;
      pointer-events: none;
}

table {
      table-layout: fixed;
      width: 100%;
}

tr {
      text-align: center;
}

td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}

td .fa-check {
      font-size: 20px;
      color: green;
}
  
td .fa-times {
      font-size: 20px;
      color: red;
}

.checkbox-large {
      transform: scale(1.5);
      margin: 0;
      accent-color: green;
}

.name-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.trash-icon {
      cursor: pointer; 
      margin-left: 8px;
}

.trash-icon:hover {
      color: red;
}


/* -------------- *
 * Filter 
 * -------------- */
#filter-dropdown {
      background-color: transparent;
      border: none;
}

#filter-dropdown i {
      color: white;
}

#filter-dropdown:hover i {
      color: #ffddc1;
      cursor: pointer;
}

#filter-dropdown::after {
      color: white !important;
}

#filter-dropdown:hover::after {
      color: #ffddc1 !important;
}

.dropdown-menu {
      width: 33%;
}

.dropdown-menu .form-check-label {
      width: 100%;
      cursor: pointer;
}

.dropdown-menu .form-check:hover {
      background: #ffddc1;
}


/* -------------- *
 * Mobile View 
 * -------------- */
@media (max-width: 991px) {
      #project-title {
            font-size: 15px;
            
      }

      #nameListContainer {
            height: 55svh;
      }

      #nameList {
            height: 45svh;
      }

      .header, .footer {
            height: 10svh;
      }

      #breakfastSection, #lunchSection {
            scroll-margin-top: 10svh;
      }

      .content {
            margin-top: 10svh;
            margin-bottom: 10svh;
      }

      .dateTitle, .sticky-row {
            top: 10svh;
      }

      #bottom-scroll {
            bottom: 11svh;
      }

      button {
            font-size: 20px !important;
      }

      .nameResponses {
            height: 40svh;
      }
}


/* -------------- *
 * Mobile Landscape View 
 * -------------- */
@media (max-width: 991px) and (orientation: landscape) {
      .header, .footer {
            height: 15svh;
      }

      #breakfastSection, #lunchSection {
            scroll-margin-top: 15svh;
      }

      .content {
            margin-top: 15svh;
            margin-bottom: 15svh;
            padding: 0 20px;
      }

      .dateTitle, .sticky-row {
            top: 15svh;
      }

      #bottom-scroll {
            bottom: 16svh;
      }
 }


/* -------------- *
 * Print View 
 * -------------- */
@media print { 
      .header, .footer {
          display: none !important;
      }

      .content {
            margin-top: 0;
            margin-bottom: 0;
      }
}